@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  // Info: we're not using Bootstrap classes because ATM this App is CSS-Neutral
  // For more extensive/custom use, we suggest use Bootstrap classes

  // Get the current item
  var imgPair = As<CompareImages>(MyItem);

  // Figure out positioning of text based on View Settings, usually left, right or none
  var showBody = MyView.Identifier != "none";
  var imagePositionClass = MyView.Identifier == "left" ? "app-imagecompare2-after-text" : "";
  var imgWidthClass = showBody ? "app-imagecompare2-img50" : "";

  // Merge settings of current item with defaults to get resize parameters
  var resizeSettings = AsStack<CompareImages>(imgPair.ImageSettings, AllSettings.Child("Images.ImageCompare"));

  // If we show the body, we'll resize the images to 50% of their original size
  var resizeFactor = showBody && imgPair.ImageSettings == null ? 0.5 : 1;

  // Get the labels for the images - but only if we should show them
  var labelRight = imgPair.ShowLabels ? imgPair.LabelRight : "";
  var labelLeft = imgPair.ShowLabels ? imgPair.LabelLeft : "";

  // Generate a unique ID for the slider
  string domId = "app-imagecompare2-id" + UniqueKey;
}

<div class="app-imagecompare2-main" @Kit.Toolbar.Default(imgPair)>

  @* if we don't show the content/body, the title will still be needed, but above the image *@
  @if (!showBody) {
    <h2>@imgPair.Title</h2>
  }

  @* Show the two images with the beer-slider JS *@
  <div class="app-imagecompare2-content">
    <div class="@imgWidthClass @imagePositionClass">
        <div id="@domId" class="beer-slider" data-beer-label="@labelLeft">
          @imgPair.Picture("RightImage", settings: resizeSettings, factor: resizeFactor, imgAltFallback: imgPair.Title)
          <div class="beer-reveal" data-beer-label="@labelRight">
            <div>
              @imgPair.Picture("LeftImage", settings: resizeSettings, factor: resizeFactor, imgAltFallback: imgPair.Title)
            </div>
          </div>
        </div>
    </div>

    @* Show the content/body if needed *@
    @if (showBody)
    {
      <div class="content-text">
        <h2>@imgPair.Title</h2>
        @imgPair.Html("DescriptionText", container:"")
      </div>
    }
  </div>
</div>

@Html.Partial("Assets.cshtml", new { domId })